body{
    background-color: #3f474f;
}

.card-dark-style{
    background-color: #5d6975;
    margin: 1px;
    border-radius: 1em;
    padding: 1em;
}

.imagine-style{
    border-radius: 25px;
    padding: 0.2em;
    background-color: #16191c;
    border: 2px solid #16191c;
}

.text-style{
    color: whitesmoke;
    border: 1px;
}

hr{
    color: whitesmoke;
    margin: 0em;
}

.text-block{
    background-color: #16191c;
    border-radius: 12px;
    padding: 1em;
    margin: 1px;
}